canvas {
    margin: 20px;
}

main {
    padding-left: 50px;
    padding-top: 10px;
    max-width: 800px;
    font-family: Verdana;
      font-size: 12px;
      color: #333333;
      line-height: 150%;
      letter-spacing: .25px;
  }
  
  h1, h2, h3 {
      color: midnightblue;
    margin-top: 30px;
  }
  
  .credit {
    font-size: smaller;
    font-style: italic;
    margin-left: 75px;
    margin-bottom: 20px;
  }

  .blue {
      color: midnightblue;
      font-weight: bold;
  }